# Pandas Exercises

In [1]:
import pandas as pd

path = "diabetes.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

Read in csv above to a pandas dataframe

In [3]:
# YOUR CODE HERE
data = pd.read_csv(path, names=names)

Print out the age and class of the 100th patient

In [164]:
# YOUR CODE HERE
data.iloc[99, 7:]

age      31.0
class     1.0
Name: 99, dtype: float64

Write code to figure out how many people are classified as not having diabetes, class is 0

In [ ]:
# YOUR CODE HERE
no_diabetes = data['class']==0

len(data[no_diabetes])

#I know the len function from CS1110

500

Write code to figure out how many people are classified as having diabetes, class is 1

In [32]:
# YOUR CODE HERE
with_diabetes = data['class']==1

len(data[with_diabetes])

268

What percent of people have diabetes in the study

In [58]:
# YOUR CODE HERE
percentage = len(data[with_diabetes]) / len(data) * 100

str(percentage) + '%'

'34.89583333333333%'

Print out the `"pres"` and `"class"` (no other columns) for the first 5 people

In [74]:
# YOUR CODE HERE
data.iloc[0:5, [2,8]]

   pres  class
0    72      1
1    66      0
2    64      1
3    66      0
4    40      1

Run the cell below, it will print out the correlation among the columns

In [75]:
data.corr()

,preg,plas,pres,skin,test,mass,pedi,age,class
preg,1.000000,0.129459,0.141282,-0.081672,-0.073535,0.017683,-0.033523,0.544341,0.221898
plas,0.129459,1.000000,0.152590,0.057328,0.331357,0.221071,0.137337,0.263514,0.466581
pres,0.141282,0.152590,1.000000,0.207371,0.088933,0.281805,0.041265,0.239528,0.065068
skin,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970,0.074752
test,-0.073535,0.331357,0.088933,0.436783,1.000000,0.197859,0.185071,-0.042163,0.130548
mass,0.017683,0.221071,0.281805,0.392573,0.197859,1.000000,0.140647,0.036242,0.292695
pedi,-0.033523,0.137337,0.041265,0.183928,0.185071,0.140647,1.000000,0.033561,0.173844
age,0.544341,0.263514,0.239528,-0.113970,-0.042163,0.036242,0.033561,1.000000,0.238356
class,0.221898,0.466581,0.065068,0.074752,0.130548,0.292695,0.173844,0.238356,1.000000

What column has the highest correlation with class? Find the mean() value of that column

In [113]:
# YOUR CODE HERE
(max(data.corr().iloc[0:8,8]))
# this corresponds to 'plas'
"The mean value for 'plas' is " + str((data['plas'].mean()))

"The mean value for 'plas' is 120.89453125"

Create a new dataframe with only people that are above the mean found in the above cell.

In [85]:
# YOUR CODE HERE
above_mean_boolean = data['plas'] > data['plas'].mean()

data[above_mean_boolean]

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
2       8   183    64     0     0  23.3  0.672   32      1
4       0   137    40    35   168  43.1  2.288   33      1
8       2   197    70    45   543  30.5  0.158   53      1
9       8   125    96     0     0   0.0  0.232   54      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
759     6   190    92     0     0  35.5  0.278   66      1
761     9   170    74    31     0  44.0  0.403   43      1
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1

[349 rows x 9 columns]

Create a new dataframe that only includes people who are above the average value for each column in the dataset. In other words, find the average value for each column, and then find which users have values above all of these average column values.

In [149]:
# YOUR CODE HERE
for i in range(0, len(data.columns)-1):
    mean=data[data.columns[i]].mean()

new_dataframe = data[data[data.columns[i]] > mean]

new_dataframe

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
8       2   197    70    45   543  30.5  0.158   53      1
9       8   125    96     0     0   0.0  0.232   54      1
11     10   168    74     0     0  38.0  0.537   34      1
12     10   139    80     0     0  27.1  1.441   57      0
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
757     0   123    72     0     0  36.3  0.258   52      1
759     6   190    92     0     0  35.5  0.278   66      1
761     9   170    74    31     0  44.0  0.403   43      1
763    10   101    76    48   180  32.9  0.171   63      0
766     1   126    60     0     0  30.1  0.349   47      1

[294 rows x 9 columns]

*Note: the next 3 problems were not explicitly shown in our tutorial—being able to effectively google and look through documentation is a very important coding tool!* ¯\\\_(ツ)_/¯

Ignoring the index (resetting the index to 0) and using the dataframe from the cell above, sort the values based on `"skin"`, `"test"`, and `"pedi"` values in ascending order. Please write this in one line.

In [146]:
# YOUR CODE HERE
sample = data.sort_values(by=['skin','test','pedi'], ascending=True).reset_index(drop = True)

sample.head()
# Used head to check and show my result

   preg  plas  pres  skin  test  mass   pedi  age  class
0     0   102    52     0     0  25.1  0.078   21      0
1     6    87    80     0     0  23.2  0.084   32      0
2     1   173    74     0     0  36.8  0.088   38      1
3     2    74     0     0     0   0.0  0.102   22      0
4     2    99     0     0     0  22.2  0.108   23      0

Now let's find the 4 largest values for `"age"`

In [151]:
# YOUR CODE HERE
sorted_by_age = data.sort_values(by=['age'], ascending=False)
string = str(sorted_by_age['age'].head(4).tolist())
"The four highest ages are: " + string[1:-1]
# I couldn't find how to remove the brackets directly

'The four highest ages are: 81, 72, 70, 69'

Now find the smallest 4 values for `"pedi"` and `"plas"` in reverse order (smallest to largest).

In [ ]:
# YOUR CODE HERE
sorted_by_pedi_and_plas = data.sort_values(by=['pedi','plas'], ascending=True)
newstring = str(sorted_by_pedi_and_plas[['pedi','plas']].head(4).values.tolist())
"The four lowest combinations for 'pedi' and 'plas' are: " + newstring[1:-1]
# I was unsure what we were being asked, so I did as I interpreted it - ordered by pedi first, and plas as a tiebreaker.

"The four lowest combinations for 'pedi' and 'plas' are: [0.078, 102.0], [0.084, 87.0], [0.085, 90.0], [0.085, 92.0]"

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=f3d2e979-42f4-4fa4-a66a-116a1c2662d5' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>